* {
  box-sizing: border-box;
}

html,
body {
  background: black;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  //@media (max-width: 600px) {
  //  font-size: 3.2vw;
  //}

  // because it keeps growing when Typed.js moves.
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.gradient  {
  //.text-gradient-pink-blue {
  background: -webkit-linear-gradient(
                  -70deg, #db469f 0%, #2188ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}

.cards * {
  cursor: pointer;
}

//h1 {
//  //font-size: vw;
//  //display: none;
//}

//p {
//  font-size: 30px;
//  font-size: .5vw;
//}

.nowrap {
  white-space: nowrap;
}

h2 {
  white-space: nowrap;
}

.back {
  margin-top: 3rem;
  padding-top: 3rem;
}
