@import "./settings/__settings";

.title {

  margin: 0;
  line-height: 1.15;
  font-size: 4rem;

  a {

    color: $color-primary;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }

  }

}

.title,
.description {
  text-align: center;
  font-size: 4rem;
}

.title {
  font-size: 10vw;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.back {
  margin-top: 3rem;
  padding-top: 3rem;
}

.values {
  font-size: 2.5vw;
}

//.values span {
//
//}

.values_wrap {
  display: flex;
  flex-direction: column;
}
